/* MENU BURGER */
.burger {
  position: fixed; top: 15px; left: 15px;
  font-size: 26px; cursor: pointer;
  z-index: 1200;
  background: #000000; border: 1px solid #000000;
  padding: 6px 10px; border-radius: 8px;
}

.overlay {
  position: fixed; inset: 0;
  background: rgba(0,0,0,0.4);
  opacity: 0; visibility: hidden;
  transition: opacity .3s ease;
  z-index: 1000;
}
.overlay.show { opacity: 1; visibility: visible; }

.menu {
  position: fixed; inset: 0 auto 0 0;
  width: 280px; max-width: 85vw;
  background: #ffffff;
  transform: translateX(-100%);
  transition: transform .3s ease;
  z-index: 1100;
  padding: 60px 20px;
  box-shadow: none; border-right: 1px solid transparent;
}
.menu.open {
  transform: translateX(0);
  box-shadow: 2px 0 10px rgba(0,0,0,.3);
  border-right-color: #ffffff;
}

.menu a {
  display: block; margin: 15px 0;
  text-decoration: none; color: #333; font-weight: bold;
}
.menu hr { margin: 20px 0; border: 0.5px solid #3228ca; }







/* === Couleur=== */ 
body {
  margin: 0;
  font-family: 'Poppins', Arial, sans-serif;
  background-color: #2d2c2c; 
  color: white;
}

/* === Bandeau qui se trv en haut  === */
.bandeau-haut {
  background-color: #070707; /* bande noire en haut */
  display: flex;
  align-items: right;
  padding: 15px 40px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}



/* === Logo et police municipal === */ 
.logo-titre {
  width: 200px;
  height: auto;
  margin-left: 50px; /* décale vers la droite */
}


/* === Section bienvenu  === */
.section-bienvenue{
  text-align: center;
  padding: 100px 20px;
}

.section-bienvenue h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.section-bienvenue p {
  font-size: 1.2rem;
  max-width: 700px;
  margin: auto;
  line-height: 1.6;
  color: #dcdcdc;
}


.titre10 {
  font-size: 4.2rem;
  position: fixed; top: 15px; left: 500px;
 position: absolute;  /* sort du flux normal */
  top: 30px;   /* distance depuis le haut */
  right: 30px;         /* distance depuis la droite */
  color: white;

}