@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Schibsted+Grotesk:ital,wght@0,700;1,700&display=swap');


body {
    font-family: Arial, sans-serif;
    background-color: #0f1a25;
    color: white;
    margin: 0;
    padding: 0;
}


html{
    scroll-behavior: smooth;
}

/******************************************************************************************/

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 220px;
    background-color: #102d35;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px; 
    flex-grow: 1;
    justify-content: space-evenly;
}


.navbar a {
    color: white;
    text-decoration: none;
    font-family: 'Schibsted Grotesk', serif;
    font-weight: 800;
    font-size: 16px;
    padding: 15px 20px;
    border-radius: 25px;
    transition: all 0.3s ease;
    display: block;
}


.navbar a:hover {
    background-color: rgba(23, 77, 109, 0.9);
    color: #e0e0e0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: translateX(5px);
}

/******************************************************************************************/

h1{
    text-align: center;
    color: rgb(120, 1, 199);
    margin: 20px 0;
}

h2 {
    text-align: center;
    color: #ffffff;
    margin: 20px 0;
}

p {
    text-align: center;
    color: #ffffff;
    margin: 20px 0;
}

table {
    width: 40%;
    margin: 20px auto;
    background-color: #1B3B44;
}

th, td {
    border: 1px solid #ffffff85;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #102d35;
    color: white;
}

/******************************************************************************************/

canvas {
    display: block;
    margin: 30px auto;
    max-width: 800px;
}

#anneeEvolutionChart{
    max-width: 800px;
    max-height: 400px;
}

#regionChart{
    max-width: 800px;
    max-height: 400px;
}

#watermark{
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.137);
    padding: 10px;
    border-radius: 20px;
}